@import url('https://fonts.googleapis.com/css?family=Poppins:400,600&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap'); 

$Violet: hsl(257, 40%, 49%);
$dark-grey: rgb(214, 214, 214);
$orange-ball-gradient: linear-gradient(160deg,#ff8a3e,#ff4797);
$blue-ball-gradient: linear-gradient(160deg,#00c4fa,#0380f8);
$purple-ball-gradient: linear-gradient(160deg, #f153ca, #b64efb);

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    max-width: 1440px !important;
    font-family: 'Poppins';
    color:white;
    margin-left: 60px;
    margin-right: 60px;
    background: rgb(111, 4, 199);
    background-image: url(/images/bg-desktop.svg);
    background-size: 80%;
    background-position-y: -28px;
    background-repeat: repeat;
}

.brand-content img{
    margin-top:30px;
    margin-bottom: 60px;
    width: 130px;
    height: auto;
}

.desktop-frame{
    height: 320px;
    width: 550px;
    background: rgb(247, 247, 247);
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.233);

    .desktop-header{
        background: rgb(0, 29, 58);

        .desktop-header-nav{
            margin-left: 30px;
            margin-right: 30px;
            padding: 10px;
            display: flex;
            justify-content: space-between;
        }
        #desktop-search{
            border-radius: 2px;
            border: none;
            background: rgb(228, 228, 228);
            width: 100px;
            height: 12px;
        }
        .desktop-menu-icon{
            display: grid;
            grid-gap: 1px;

            #line-1,
            #line-2,
            #line-3{

                border-radius: 6px;
                border: none;
                background: rgb(228, 228, 228);
                width: 18px;
                height: 2px;
             }
        }
    }
}
.desktop-infos{
    margin: 35px;
    place-items: center;

    .desktop-info{
        display: flex;

    .desktop-circles{
        height: 45px;
        width: 45px;
        border-radius: 100%;
    }
    .desktop-write-up{
        margin-left: 30px;

        .desktop-image-heading{
            height: 8px;
            width: 60px;
            background: $dark-grey;
            margin-bottom: 10px ;
        }
        .desktop-paragraphs-container{
            display: grid;
            grid-gap: 5px;

            .desktop-paragraphs{
                height: 4.5px;
                background: $dark-grey;
            }
            #desktop-paragraph-1{
                width: 220px;
            }
            #desktop-paragraph-1-2{
                width: 200px;
            }
            #desktop-paragraph-1-3{
                width: 180px;
            }
            }
        }
    }
    #desktop-circle-1{
        background: $orange-ball-gradient;
    }
    #desktop-circle-2{
        background: $blue-ball-gradient;
    }
    #desktop-circle-3{
        background: $purple-ball-gradient;
    }
}

.desktop-rhs{
    .desktop-rhs-circles{
        margin-top: 60px;
        display: grid;
        grid-gap: 8px;
        grid-template-columns: repeat(5,10px) ;
    }
    
    .line-1-circle{
        height: 14px;
        width: 14px;
        background: rgba(182, 182, 182, 0.815);
        border-radius: 100%;
    }
}
section.desktop-content{
    display: flex;
}

.phone-frame{
    box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.233);
    height: 330px;
    width: 210px;
    background: rgb(247, 247, 247);
    border-radius: 12px;
    overflow: hidden;

    .phone-header{
        background: rgb(0, 29, 58);

        .phone-header-nav{
            margin-left: 10px;
            margin-right: 10px;
            padding: 10px;
            display: flex;
            justify-content: space-between;
        }
        #phone-search{
            border-radius: 2px;
            border: none;
            background: rgb(228, 228, 228);
            width: 70px;
            height: 14px;
        }
        .phone-menu-icon{
            display: grid;
            grid-gap: 1px;

            #line-1,
            #line-2,
            #line-3{

                border-radius: 6px;
                border: none;
                background: rgb(228, 228, 228);
                width: 18px;
                height: 2px;
             }
        }
    }
}

.phone-content{
    margin: 30px 0px;
}
.phone-infos{
    margin-top: 10px;
    margin-left: 20px;
    place-items: center;

    .phone-info{
        display: flex;

    .phone-circles{
        height: 20px;
        width: 20px;
        border-radius: 100%;
    }
    #phone-circle-1{
        background: $orange-ball-gradient;
    }
    #phone-circle-2{
        background: $blue-ball-gradient;
    }
    #phone-circle-3{
        background: $purple-ball-gradient;
    }

    .phone-write-up{
        margin-left: 14px;
        .phone-image-heading{
            height: 4px;
            width: 50px;
            background-color: $dark-grey;
            margin-bottom: 3px;
        }
        .phone-paragraphs-container{
            display: grid;
            grid-gap: 2px;
            .phone-paragraphs{
                height: 2px;
                width: 150px;
                background-color: $dark-grey;
            }
            #phone-paragraph-1{
                width: 120px;
            }
            #phone-paragraph-1-2{
                width: 100px;
            }
            #phone-paragraph-1-3{
                width: 80px;
            }
        }
    }
}
}

section.desktop-and-phone{
    display: grid;
    grid-template-columns: repeat(7,95px);
    grid-template-rows: repeat(4,110px);
}
.desktop-frame{
    grid-column: span 5;
}
.phone-frame{
    grid-column: 5 / span 3;
}
.page-rhs{
    margin-top: 15px;

p.page-catcher{
    font-weight: 700;
    letter-spacing: 1.1px;
    font-size: 35px;
}

p.brand-explanation{
    font-family: 'Open Sans', sans-serif;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: lighter;
    line-height: 25px;
}

.registration-link{
    font-size: 17px;
    padding: 14px 55px;
    border-radius: 30px;
    border: none;
    color: $Violet;
    background-color: white;
    box-shadow: 2px 2px 8px 4px rgba(0, 0, 0, 0.24);
    cursor: pointer;

    &:hover{
        box-shadow: none;
        background-color: $Violet;
        color: white;
        transform: scale(0.99);
        transition: all 0.2s ease-out 0.01s;
    }
}
}

section.main-body{
    display: flex;
}

.social-handles{
    font-size: 16px;
    margin-right: 100px;
    text-align: right;
    font-weight: lighter;
    place-items: center;

    #icons{
        line-height: 2;
        align-items: center;
        margin: 4px;
        border: 1px solid;
        height: 35px;
        width: 35px;
        border-radius: 100%;
        text-align: center;
        vertical-align: center;
        align-content: center;
    }
    
}
footer.last-item{
    place-items: center;
    display: flex;
    justify-content: space-between;
}


